<div class="page-header">
  <h1>User #<%= current_user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Photos</dt>
  <dd><%= current_user.photos %></dd>

  <dt>Comments</dt>
  <dd><%= current_user.comments %></dd>

  <dt>Likes</dt>
  <dd><%= current_user.likes %></dd>

</dl>
